.modal {
  position: fixed;
  z-index: 300;
  background: #ffffff;
  width: 30%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 16px;
  left: 38%;
  top: 25%;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 800px) {
  .modal {
    width: 50%;
    position: fixed;
    left: 25%;
    top: 20%;
  }
}

@media screen and (max-width: 450px) {
  .modal {
    width: 90%;
    position: fixed;
    left: 5%;
    top: 20%;
  }
}

